@font-face {
  font-family: "iconfont"; /* Project id 3371913 */
  src: url('iconfont.woff2?t=1651712718833') format('woff2'),
       url('iconfont.woff?t=1651712718833') format('woff'),
       url('iconfont.ttf?t=1651712718833') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-saoba:before {
  content: "\e62b";
}

.icon-jiantou-xia:before {
  content: "\e719";
}

.icon-sousuo:before {
  content: "\e62a";
}

.icon-zhiding:before {
  content: "\e786";
}

.icon-yingwen:before {
  content: "\e6c0";
}

.icon-taolun:before {
  content: "\e619";
}

.icon-gouwuche:before {
  content: "\e652";
}

.icon-yunshangchuan:before {
  content: "\e697";
}

.icon-gerenzhuyeshezhi:before {
  content: "\e645";
}

.icon-a-naolingtixingtongzhi:before {
  content: "\e63c";
}

