body {
    background-color: rgb(9,7,35);
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: overlay;
}
body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
body::-webkit-scrollbar-thumb{
    background-color: #e6e6e6;
    min-height: 25px;
    min-width: 25px;
    border: 1px solid #e0e0e0;
    border-radius: 99px;
}
body::-webkit-scrollbar-track{
    background-color: #f7f7f7;
    border: 1px solid #efefef;
}
canvas {
    filter: brightness(1000%);
    position: fixed;
    display: block;
    padding: auto;
    z-index: -999;
}
a{
    text-decoration: none;
    color: black;
}
.head {
    height: 55px;
    display: flex;
    align-items: center;
    width: max-content;
    margin: auto;
}
.logo{
    height: fit-content;
    width: fit-content;
}
.logo img {
    width: 125px;
    margin-right: 40px;
    margin-top: 5px;
}
.head-nav {
    display: flex;
    font-size: 14px;
    align-items: center;
    margin: 0px;
    margin-right: 130px;
    list-style: none;
    padding: 0px;
    height: 50px;
}
.head-nav-item,
.head-list-item {
    margin: 0px;
    padding: 0px;
    line-height: 50px;
    position: relative;
}
.head-notice {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    height: 20px;
    width: 20px;
    color: white;
    background-color: red;
    border-radius: 50%;
}
.head-nav-item a,
.head-list-item a {
    margin: 0px 18px 0px 10px;
    height: 100%;
    text-decoration: none;
    color: rgb(132,131,145);
}
.head-nav-item:hover a,
.head-list-item:hover a{
    color: white;
}
.on-choose {
    color: #fff !important;
}
.head-nav li:nth-child(2) a::after{
    content: "";
    background: url(https://img.alicdn.com/tfs/TB1td1qB5rpK1RjSZFhXXXSdXXa-60-30.png) no-repeat;
    height: 17px;
    width: 30px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.head-nav-list,
.head-list-items {
    background-color: rgb(9,7,35);
    box-shadow: 0px 0px 5px 0px #6272D6;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    position: absolute;
    z-index: 9;
    top: 45px;
    left: -20px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

.head-nav-end {
    margin-top: 10px;
}
.head-nav-list li,
.head-list-items li {
    font-size: 12px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #ccc;
    cursor: pointer;
    width: 130px;
}
.head-nav-list:not(.material-database-box) li:hover,
.head-list-items li:hover{
    background-color: rgba(26,24,46);
    color: white;
}
.head-list-notice li:nth-child(-n+3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-list-notice li:nth-child(-n+3) div:nth-child(1) {
    margin-left: 15px;
}
.head-list-notice li:nth-child(-n+3) div:nth-child(2) {
    background-color: #6272D6;
    height: 20px;
    width: 20px;
    color: white !important;
    border-radius: 50%;
    line-height: 20px;
    margin-right: 15px;
}
.head-nav-item .material-database-box {
    z-index: 9;
    height: 398px;
    width: 888px;
    left: -185px;
}
.material-database-box .material-database {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.material-database-box .material-database>div {
    flex: 1;
    color: white;
    margin: 20px 0px;
}
.material-database-box .material-database div div {
    font-size: 16px;
    text-align: left;
    float: left;
}
.material-database div div div {
    padding: 0px 32px;
}
.material-database div img {
    width: 140px;
    border-radius: 8px;
    float: left;
    margin: 10px 0px;
    padding: 0px 32px;
}
.material-database div ul {
    float: left;
    list-style: none;
    margin: 5px 0px 0px;
    width: 100%;
    padding: 0px;
}
.material-database div ul li {
    color: #fff;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding-left: 32px !important;
    padding-right: 60px;
    text-align: left;
}
.material-database div ul li:hover {
    background-color: rgb(46,44,66);
}
.material-database div div:hover {
    background-color: rgb(46,44,66);
}
.head-nav-end a {
    font-size: 40px;
}
.head-menu {
    display: flex;
    align-items: center;
    color: rgb(132,131,145);
    position: relative;
}
.head-menu a {
    font-size: 25px;
}
.head-menu a:hover {
    color: white;
}
.head-menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.head-search {
    margin-right: 20px;
    position: relative;
    display: flex;
    font-size: 12px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(132,131,145);
    border-radius: 30px;
    height: 30px;
    overflow: hidden;
    transition: all 0.5s;
}
.head-search:hover {
    border-color: #fff;
}
.head-search .head-search-icon {
    user-select: none;
    padding: 10px 20px 10px 10px;
    background-color: rgb(46,45,71);
    color: rgb(151,150,163);
}

.head-search-icon-icon {
    font-size: 12px !important;
    position: absolute;
    left: 40px;
    top: 8px;
    color: rgb(184,184,187);
}

.head-search-list {
    background-color: white;
    position: absolute;
    width: 54px;
    z-index: 9;
    left: 3px;
    top: 47px;
    display: none;
    user-select: none;
    border-radius: 4px;
}
.head-search-list div {
    height: 27px;
    border-radius: 3px;
    padding: 2px;
    font-size: 12px;
    margin: 4px;
    text-align: center;
    line-height: 30px;
    color: #000;
}
.head-list-current {
    color: red !important;
    background-color: #f0f0f0;
}
.head-search-list div:hover {
    color: red;
    background-color: #f0f0f0;
}
.head-search input {
    outline: none;
    background-color: rgba(0,0,0,0);
    border: none;
    width: 70px;
    height: 100%;
    color: white;
    margin-left: 10px;
    font-size: 12px;
    position: relative;
    flex: 1;
}

.head-search .head-search-search{
    color: rgb(151,150,163);
    margin-right: 7px;
    width: 20px;
    font-size: 22px;
}
.middle {
    margin: 70px auto 0px;
    text-align: center;
    width: 100%;
}
.middle-search-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 768px;
    background: rgba(14,16,52,.5);
    border: 1px solid rgba(34,43,95,.79);
    border-radius: 40px;
    padding: 4px;
    margin: 0px auto;
    text-align: center;
    transition: all 0.5s;
}
.middle-search-box:hover {
    border: 1px solid rgb(102,113,175);
}
.middle-search-title {
    position: relative;
    background: #6272D6;
    width: 130px;
    height: 40px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 40px;
    color: white;
    margin-right: 0px;
}
.middle-search-title-icon {
    font-size: 13px !important;
    color: rgb(184,184,187);
    position: absolute;
    right: 15px;
    top: 0;
    user-select: none;
}
.middle-search-list {
    background-color: rgb(9,7,35);
    position: absolute;
    width: 120px;
    z-index: 9;
    left: 10px;
    top: 55px;
    display: none;
    box-shadow: 0px 0px 5px 0px #6272D6;
    border-radius: 5px;
    font-size: 14px;
}

.middle-search-list div {
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.middle-search-list div:hover {
    background-color: #6272D6;
}


@keyframes circle {
    100% {
        transform: rotate(180deg) translateY(-1px);
    }
}
@keyframes circle-reverse {
    0% {
        transform: rotate(180deg) translateY(-1px);
    }
    100% {
        transform: rotate(0deg) translateY(0px);
    }
}
.middle-search-content {
    flex: 1;
    font-size: 18px;
    z-index: 1;
    color: white;
    outline: none;
    border: 0px;
    margin-left: 15px;
    margin-right: 20px;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
}
.middle-search-placeholder{
    align-items: center;
    line-height: 14px;
    position: absolute;
    user-select: none;
}
.middle-search-placeholder span{
    color: #a6a5ad;
    font-size: 14px;
}
.middle-search-placeholder span:nth-child(2){
    color: #ff0200;
    font-weight: 400;
    margin-left: 10px;
}

.middle-images{
    margin: 60px auto 0px;
    /* margin-top: 60px; */
    position: relative;
    height: 110px;
    width: 1050px;
    overflow: hidden;
    border-radius: 10px;
}
.imgs-box img {
    position: relative;
    width: 1050px;
    height: 110px;
    display: block;
}
.current {
    color: orange;
}
.middle-images li{
    list-style: none;
    float: left;
    padding: 0px;
    margin: 0px;
}
.imgs-box {
    padding: 0px;
    margin: 0px;
    height: 110px;
    position: relative;
    width: 300%;
    user-select: none;
}
.icons-box {
    position: absolute;
    bottom: -5px;
    left: 48%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    user-select: none;
    font-size: 60px;
    color: #ccc;
}
.right-nav-bar-box {
    position: fixed;
    z-index: 88;
    right: 50px;
    top: 260px;
    width: 60px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    -webkit-text-stroke: 1px transparent;
}
.right-nav-bar img {
    width: 100%;
    user-select: none;
    margin-bottom: 20px;
}
.right-nav-bar-list {
    display: none;
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}
.right-nav-bar-list li {
    position: relative;
}
.right-nav-bar-list li div:first-child {
    user-select: none;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 0px 0px 20px 0px;
    border-radius: 50%;
    background-color: rgb(181,181,181);
    opacity: .5;
}
.right-notice {
    position: absolute;
    right: -4px;
    top: -4px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    height: 22px;
    width: 22px;
    color: white;
    background-color: red;
    border-radius: 50%;
}
.right-nav-bar-list li:hover div:first-child{
    opacity: 1;
}
.right-nav-bar-list .iconfont {
    font-size: 30px;
    font-weight: 100;
}
.bottom {    
    margin: 34px auto 100px;
    border-radius: 10px 10px 0px 0px;
    width: 1050px;
    background: url(images/bottom.png) no-repeat;
    background-size: 100%;
}
.bottom-tab {
    width: 677px;
    height: 120px;
    margin: 40px auto 30px;
}
.bottom-tab-item {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: relative;
    float: left;
    background-color: rgba(240,240,240,.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-tab-item:nth-child(-n+3){
    margin-right: 112px;
}
.bottom-tab-item img {
    width: 54px;
    height: 54px;
    vertical-align: top;
}
.bottom-tab-item img:nth-child(even) {
    display: none;
}
.bottom-tab-item img:nth-child(odd) {
    display: block;
}
.bottom-tab-name {
    position: absolute;
    color: white;
    font-size: 18px;
    width: max-content;
    bottom: -34px;
}
.bottom-tab-current {
    background-color: white;
}
.bottom-tab-current img:nth-child(odd) {
    display: none;
}
.bottom-tab-current img:nth-child(even) {
    display: block;
}
.bottom-content {
    width: 100%;
}
.bottom-content-item {
    display: none;
}
.bottom-content-current {
    display: block;
}
.bottom-content-list {
    display: flex;
    margin: 0px 16px 30px 0px;
}
.bottom-list-item {
    flex: 1;
    margin-left: 16px;
    border-radius: 5px;
    background-color: white;
    transition: all 0.5s;
}
.bottom-list-item:hover {
    transform: scale(1.05);
}

.bottom-title-image {
    margin: 25px auto 0px;
    width: fit-content;
    height: fit-content;
}
.bottom-title-image img {
    border-radius: 50%;
    height: 40px;
}
.bottom-title-name {
    width: max-content;
    margin: 9px auto 0px;
    color: #aaa;
    font-size: 16px;
}
.bottom-item-icons-0,
.bottom-item-icons-1 {
    margin: 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.bottom-item-icons-1 div {
    height: 66px;
    width: 58px;
}
.bottom-item-icons-0 div {
    height: 99px;
    width: 97px;
}
.body-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 55;
    left: 0;
    top: 0;
    background-color: #0d0a31;
    opacity: 0.9;
    display: none;
}
.right-shopping {
    height: 100%;
    position: fixed;
    right: -305px;
    top: 0px;
    width: 305px;
    z-index: 99;
}
.right-shopping-title {
    height: 55px;
    width: 100%;
    background-color: #0a0f30;
}
.right-shopping-arrow {
    background-color: red;
    height: 55px;
    width: 30px;
    font-size: 20px !important;
    text-align: center;
    color: white;
    line-height: 55px;
    float: left;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
.right-shopping-arrow span {
    display: inline-block;
    transform: rotate(-90deg);
}
.right-shopping-img {
    font-size: 70px !important;
    color: rgba(255,255,255,.1);
    float: left;
    user-select: none;
}
.right-shopping-clean {
    font-size: 20px;
    color: rgb(133,135,152);
    line-height: 55px;
    float: right;
}
.right-shopping-clean-text {
    float: right;
    color: rgb(133,135,152);
    line-height: 55px;
    margin-right: 15px;
    margin-left: 10px;
    font-size: 12px !important;
}
.right-shopping-clean-box {
    user-select: none;
    padding-left: 10px;
    float: right;
}
.right-shopping-clean-box:hover .right-shopping-clean,
.right-shopping-clean-box:hover .right-shopping-clean-text {
    color: white;
}
.right-shopping-body {
    height: 380px;
    padding: 5px;
    background-color: #fcfcfc;
}
.right-shopping-bottom {
    height: 100%;
    background: #f3f3f3;
    padding-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-shopping-btn {
    width: 164px;
    margin-top: 22px;
    text-align: center;
    border: none;
    padding: 0px 20px;
    border-radius: 40px;
    height: 36px;
    background-color: #ddd;
    color: #999;
    font-size: 14px;
}
.right-shopping-placehoder div {
    width: fit-content;
    height: fit-content;
    margin: 100px auto 0px;
}
.right-shopping-placehoder div img {
    display: inline-block;
    width: 150px;
    margin: auto;
}
.right-shopping-placehoder div:nth-child(2){
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}